body{
    font-family: Arial, Helvetica, sans-serif;
}
.one div{
    width: 300px;
    margin: 10px auto;
    text-align: center;
    height: 60px;
    line-height: 55px;
    font-weight: bold;
}
.first{
    background-color: #eee;
}
.second{
    background-color: #eee9;
}
:empty{
    background-color: red;
}
.two{
    background-color: #ccc;
    padding: 20px;
    width: 400px;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
    position: relative;
}
.two::first-letter{
    background-color: #f44336;
    color: white;
    position: absolute;
    padding: 10px;
    float: left;
    top: 50%;
    margin-left: -35px;
    margin-top: -10px;
}
.three p{
    background-color: #eee;
    width: 400px;
    padding: 20px;
    margin: 10px auto;
    font-weight: bold;
    position: relative;
    border-left: 5px solid #e91e63;
}
.three p::before{
    content: attr(data-person);
    background-color: #eee;
    position: absolute;
    left: -95px;
    padding: 10px;
    top: 12px;
    width: 50px;
}
.three p::after{
    content: "";
    position: absolute;
    border: 15px solid;
    height: 0;
    width: 0;
    border-color: transparent #e91e63 transparent transparent;
    float: left;
    left: -35px;
    top: 14px;
}
.four p{
    background-color: #eee;
    width: 400px;
    padding: 20px;
    margin: 10px auto;
    font-weight: bold;
    position: relative;
    counter-increment: number;
}
.four p::before{
    content: counter(number);
    background-color: #f84336;
    color: white;
    padding: 20px;
    position: absolute;
    float: left;
    left: -48px;
    top: 0px;
}
.four p::after{
    content: "";
    background-color: #f84336;
    position: absolute;
    height: 58px;
    width: 5px;
    float: right;
    right: -3px;
    top: 0;
}